.navigation-container {
    font-family: 'Roboto', sans-serif;
    height: min-content;
    width: 85%;

    /* this is the maximum width that all content on the site will reach */
    max-width: 1024px;
    margin: 0 auto;
    border-radius: 0.7rem;
    position: sticky;
    top: 7px;
    z-index: 99;

    background: rgba(255, 255, 255, 0.37);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.navigation-container ul {
    list-style-type: none;
    padding: 0 1rem;
}

.navigation-container li {
    display: inline-block;
    text-align: left;
    padding: 0;
    vertical-align: middle
}

.link {
    padding: 0 0.9rem 0 0;
    color: #1f1f1f;
    transition: 0.15s ease-in-out;
    text-decoration: none;
}

.home:hover {
    color: #DA4E3F;
}

.studio:hover {
    color: #345D98;
}

.contact:hover {
    color: #E07B4A;
}

.resume:hover {
    color: #3A7359;
}

.logo {
    float: right;
    padding: 0;
    margin: 0;
    user-select: none;
}

.logo img {
    width: 28px;
    height: 28px;
    padding: 0;
    margin: 0;
}