.contact-container {
    color: #1f1f1f;

    width: 60vw;
    height: 70vh;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 50% 50%;
    gap: 0px;
    padding: 0;
}

.contact-container a {
    text-decoration: none;
}

.contact-container > div {
    color: #fbfaf5;
    font-family: "Gabarito", sans-serif;
    margin: 3px;
    border-radius: var(--border-radius);
    overflow: hidden;
    font-weight: 700;
}

#block-social {
    grid-column-start: span 2;
    background-color: #E15F40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

#block-email {
    grid-column-start: span 1;
    border: 2px solid #E15F40;
    color: #E15F40;
    display: flex;
    padding-left: 20px;
}

.contact-image {
    width: 25vh;
    margin: 4rem auto;
}

#block-home {
    display: flex;
    flex-direction: column;
    background-color: #345D98;
}

#block-resume {
    display: flex;
    flex-direction: column;
    background-color: #3A7359;
}

#block-stay-connected {
    color: #1f1f1f;
    border: 2px solid #1f1f1f;
    background-color: #fbfaf5;
}

#block-stay-connected p {
    /* border: 1px solid magenta; */
    width: 80%;
}

.method-of-contact > h3, p {
    margin: 0;
    padding: 0;
    /* border: 1px solid magenta; */
    width: fit-content;
}

.method-of-contact a {
    transition: 0.3s ease-in-out;
}
.method-of-contact a:hover{
    color:#1f1f1f;
}

.method-of-contact:not(:last-child) {
    margin-bottom: 10px;
}

/* ------------------------- 1024px = Desktop Screen ------------------------ */

@media screen and (max-width: 1024px) {
    .contact-container {
        width: 75vw!important;
    }
}

/* -------------------- 1194px = iPad Pro 11 (landscape) -------------------- */
@media screen and (max-width: 1194px){
    .contact-container {
        width: 75vw!important;
        /* border: 2px solid magenta; */
    }
}

/* --------------------- 834px = iPad Pro 11 (portrait) --------------------- */
@media screen and (max-width: 834px) {
    #block-text {
        grid-column-start: span 2;
    }

    #block-social {
        grid-column-start: span 1!important;
    }

    .contact-container {
        grid-template-rows: 33.3% 33.3% 33.3% !important;
        grid-template-columns: 50% 50% !important;
    }

    .contact-image {
        width: 25vw!important;
        margin: 4rem auto!important;
    }

    .padding {
        padding: 1rem!important;
    }
}

/* ----------------------------- 428px = iPhone ----------------------------- */
@media screen and (max-width: 428px) {
    .contact-image {
        margin: 3rem auto!important;
    }
}