.demos-container {
    width: 85%;
    /* border: 1px solid magenta; */
    margin: 0 auto;
}

/* -------------------------------------------------------------------------- */
/*                                 DEMOS GRID                                 */
/* -------------------------------------------------------------------------- */
.demos-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.6rem;
    grid-auto-rows: minmax(100px, auto);
    margin: 0 auto 3rem;
}

.demos-grid .gridbox {
    transition: all 0.15s ease-in-out;
    background-color: #FBFAF5;
}

.demos-grid .gridbox:hover {
    animation: bounce;
    animation-duration: 0.8s;
}

.demos-grid .gridbox:nth-child(2) {
    grid-column: 3;
    grid-row: 2 / 4;
}

.demos-grid .gridbox:nth-child(5) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

/* ---------------------------------- LINKS --------------------------------- */
.demos-grid a {
    text-decoration: underline;
    color: #1f1f1f;
    text-decoration-style: dotted;
    transition: 0.14s ease-in-out;

}

.demos-grid a:hover {
    color: blue;
}

/* ----------------------------------- SVG ---------------------------------- */
.demos-grid svg {
    width: auto;
    height: 2rem;
    margin-bottom: 0.5rem;
    transition: 0.14s ease-in-out;
    color: #1F1F1F;
    /* fill: #3A7359; */

}

.demos-grid svg:hover {
    /* height: 9rem; */
    /* fill: #ff0000; */
    color: blue;
}

/* -------------------------------------------------------------------------- */
/*                             DEMOS GRID – MOBILE                            */
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 692px) {
    .demos-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.6rem;
        grid-auto-rows: minmax(100px, auto);
    }

    .demos-grid .gridbox:nth-child(2) {
        grid-column: 2;
        grid-row: 1 / 3;
    }

    .demos-grid .gridbox:nth-child(5) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}