/* ---------------------- Animated "Kelci Mensah" Title --------------------- */
.moving {
  display: inline-block;
}

.k {
  animation-delay: 0s;
}

.e {
  animation-delay: 0.2s;
}

.l {
  animation-delay: 0.3s;
}

.c {
  animation-delay: 0.4s;
}

.i {
  animation-delay: 0.5s;
}

.m {
  animation-delay: 0.6s;
}

.ee {
  animation-delay: 0.7s;
}

.n {
  animation-delay: 0.8s;
}

.s {
  animation-delay: 0.9s;
}

.a {
  animation-delay: 1.1s;
}

.h {
  animation-delay: 1.2s;
}

.period {
  animation-delay: 1.3s;
}


/* ---------------------------- Grid Block Layout --------------------------- */
.grid-layout {
  /* border: 1px solid purple; */
  height: 97%;
  width: 97%;
  max-width: 1536px;
  max-height: 723px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 33.3% 33.3% 33.3%;
  gap: 0px;
  padding: 0;
  overflow: hidden;
}

@media screen and (max-width: 834px) {
  .grid-layout {
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 25% 25% 25% 25%;
  }
}

.grid-layout>div {
  text-align: center;
  margin: 3px;
  font-size: 26px;
  border-radius: var(--border-radius);
  font-weight: 700;
  font-family: 'Gabarito', sans-serif;
}

/* --------------------------- Grid Block Styling --------------------------- */
#block-kelcimensah {
  grid-column-start: span 2;
  grid-row-start: span 2;
  min-width: fit;
  background-color: #1F1F1F;
}

.jumping-message {
  text-align: left;
  vertical-align: center;
  width: fit-content;
  user-select: none;
  font-family: BrightDemo, serif;
  line-height: 0.8;
  color: #FBFAF5 !important;
  height: fit-content;
}

.blue {
  background-color: #345D98;
}

.red {
  background-color: #DE6447;
}

.orange {
  background-color: #E07B4A;
}

.yellow {
  background-color: #F3C571;
}

.green {
  background-color: #3A7359;
}

.flicker {
  -webkit-animation: flickerAnimation 9s infinite;
  -moz-animation: flickerAnimation 9s infinite;
  -o-animation: flickerAnimation 9s infinite;
  animation: flickerAnimation 9s infinite;
}

#block-contact-me {
  border-radius: var(--border-radius);
}

#block-projects {
  background-image: url('img/noisegradient01.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: var(--border-radius);
}

/* Date Block */
#block-date {
  color: #FBFAF5;
  font-family: "Gabarito", sans-serif;
  text-transform: uppercase;
  flex-direction: column;
}

#block-date .date {
  /* border: 1px solid yellow */
}

#block-date .current-date {
  font-size: 3rem;
  padding: 0;
  font-weight: 600;
  margin: 0;
  /* border: 1px solid red; */
}

#block-date .current-time {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  font-weight: 400;
  width: 100%;
  text-transform: capitalize;
  /* border: 1px solid magenta; */
}

#block-resume {
  background-color: #1F1F1F;
  color: #FBFAF5;
  text-align: left;
  padding: 0 2rem;
  font-size: 1.3rem;
  border-radius: var(--border-radius);
}

.block-tilt {
  text-decoration: none;
  color: var(--baby-powder);
}


.block-tilt .tilt-content-container {
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ---------------------- Media Queries & Responsivity ---------------------- */
/* ----------------------- 1536px = Desktop Computers ----------------------- */
@media screen and (max-width: 1536px) {
  #block-resume p {
    font-size: 1.45rem;
    width: 70%;
  }

  .jumping-message {
    font-size: 5.8vw;
  }
}

/* ------------------ 1280px = MacBook Pro 13" (Landscape) ------------------ */
@media screen and (max-width: 1280px) {
  #block-resume p {
    font-size: 1.1rem;
    width: 80%;
  }
}

/* -------------------- 1194px = iPad Pro 11 (Landscape) -------------------- */
@media screen and (max-width: 1194px) {
  #block-date .current-date {
    font-size: 3.15rem;
  }

  #block-date .current-time {
    font-size: 0.95rem;
  }
}

/* --------------------- 834px = iPad Pro 11 (Portrait) --------------------- */
@media screen and (max-width: 834px) {
  .jumping-message {
    font-size: 5rem;
  }

  #block-date .current-date {
    font-size: 3.2rem;
  }

  #block-date .current-time {
    font-size: 0.95rem;
  }

  #block-resume,
  #block-contact-me {
    font-size: 1.6rem;
  }
}

/* ------------------------ 428px = iPhone (portrait) ----------------------- */
@media screen and (max-width: 428px) {
  #block-resume,
  #block-contact-me {
    font-size: 1.2rem;
    padding: 1rem;
  }

  #block-resume p {
    font-size: 1.1rem;
    width: 100%;
  }

  #block-kelcimensah {
    padding: 1rem;
  }

  #block-date .date {
    font-size: 1.7rem;
  }

  #block-date .time {
    font-size: 0.7rem;
  }

  .jumping-message {
    font-size: 3rem;
  }

  .ppl {
    margin-top: 25px !important;
    width: 8rem !important;
  }

  .bks {
    margin-top: 40px !important;
    width: 7rem !important;
  }
}
