.projects-container {
    width: 71%;
    /* border: 1px solid blue; */
    margin: 0 auto;
}

.projects-container h2 {
    margin: 35px 0 3px;
}

.projects-container a {
    text-decoration: none;
    transition: 0.3s ease-in-out;
    color: #4285f4;
}

.projects-container a:hover {
    color: #ea4335;
}