@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

/* -------------------------------------------------------------------------- */
/*                                   STUDIO                                   */
/* -------------------------------------------------------------------------- */
.studio-container {
    width: 85%;
}

/* ------------------------- STUDIO TITLE CONTAINER ------------------------- */
.studio-title-container {
    width: 100%;
    margin: 0 auto;
}

.studio-title-container h1 {
    text-transform: uppercase;
    display: inline-block;
    font-size: 3rem;
    padding: 0;
    margin-bottom: 0;
}

/* -------------------------------------------------------------------------- */
/*                                 STUDIO GRID                                */
/* -------------------------------------------------------------------------- */
.studio-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem 0.5rem;

    padding: 0;
    margin-bottom: 70px;
}

.studio-grid a {
    text-decoration: none;
    color: #fbfaf5;
}

.s-demos {
    background-color: #1f1f1f;
    background-image: linear-gradient(#292929 1px, transparent 1px),
        linear-gradient(to right, #292929 1px, #1f1f1f 1px);
    background-size: 20px 20px;
    color: #fbfaf5;
    grid-column: span 3;
}

.s-articles {
    background-color: #345d98;
    background-image: linear-gradient(#2e5388 1px, transparent 1px),
        linear-gradient(to right, #2e5388 1px, #345d98 1px);
    background-size: 20px 20px;
    grid-column: span 2;
    color: #fbfaf5;
    filter: grayscale(100%);
    cursor: not-allowed;
    opacity: 0.8;
}

.s-projects {
    grid-column: span 5;

    background-color: #e07b4a;
    background-image: url("../../assets/imgs/cubes.png");
}

/* --------------------------------- GRIDBOX -------------------------------- */
.gridbox {
    /* default color will be black - #1f1f1f */
    border: 2px solid #1f1f1f;
    padding: 0px 0.4rem;
    border-radius: 1px;
}

.gridbox {
    text-decoration: none;
    color: #fbfaf5;
}

.gridbox h1 {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Gabarito", sans-serif;
    /* color: #1F1F1F; */
}

.tilt-tile {
    border-radius: 0.1rem;
    min-height: 5rem;
}

.tile-header {
    font-weight: 500;
    font-family: "Gabarito", sans-serif;
    margin: 0.5rem 0.8rem;
    font-size: 2rem;
}

/* -------------------------------------------------------------------------- */
/*                            STUDIO GRID - MOBILE                            */
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 692px) {

    .s-articles,
    .s-demos,
    .s-projects {
        grid-column: span 5;
    }

    .tilt-tile {
        min-height: 13rem;
    }
}