/* ----------------------------- NAVIGATION BAR ----------------------------- */
.navigation-container {
  /* font-family: 'Space Mono', monospace; */
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  height: min-content;
  width: 85%;
  margin: 0 auto;
  border-radius: 0.7rem;
  position: sticky;
  top: 5px;
  z-index: 99;

  background: rgba(255, 255, 255, 0.37);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.navigation-container ul {
  list-style-type: none;
  padding: 0 1rem;
}

.navigation-container li {
  display: inline-block;
  text-align: left;
  padding: 0;
  vertical-align: middle
}

.link {
  padding: 0 0.9rem 0 0;
  color: #1f1f1f;
  transition: 0.15s ease-in-out;
  text-decoration: none;
}

.home:hover {
  color: #DA4E3F;
}

.studio:hover {
  color: #345D98;
}

.contact:hover {
  color: #FEC32B;
}

.resume:hover {
  color: #3A7359;
}

.logo {
  float: right;
  padding: 0;
  margin: 0;
  user-select: none;
}

.logo img {
  width: 28px;
  height: 28px;
  padding: 0;
  margin: 0;
}

/* --------------------------------- FOOTER --------------------------------- */
.footer-container {
  /* border: 2px solid magenta; */
  text-align: center;
  font-family: 'Space Mono', monospace;
  font-size: 0.75rem;
  padding: 0.4rem;
}

/* ------------------------------ RESUME ASSETS ----------------------------- */
.google:first-child {
  color: #5185EC !important;
}

.google:nth-child(2) {
  color: #D85140 !important;
}

.google:nth-child(3) {
  color: #F2BE42 !important;
}

/* ------------------------------- GRID LAYOUT ------------------------------ */
.gridbackground {
  /* border: 1px solid purple; */
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -90;

  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto ;
  gap: 0px;
  padding: 0 ;
}

.gridbackground > div {
  /* background-color: #345D98; */
  text-align: center;
  padding: 0px ;
  margin: 1px;
  font-size: 30px;

  /* transition: 2s ease-out; */
  border-radius: 0.2rem;
}

.blue {
  background-color: #345D98;
  box-shadow: 0px 4px 30px 30px rgba(52, 93, 152, 0.15);
}

.red {
  background-color: #DE6447;
}

.orange {
  background-color: #E07B4A;
  box-shadow: 0px 4px 30px 30px rgba(224, 123, 74, 0.15);
}

.yellow {
  background-color: #F3C571;
  box-shadow: 0px 4px 30px 30px rgba(243, 197, 113, 0.20);
}

.green {
  background-color: #3A7359;
  box-shadow: 0px 4px 42px 16px rgba(58, 115, 89, 0.20);
}

.hidden {
  opacity: 0;
}

.opacity {
  opacity: 1;
}

.flicker {
  -webkit-animation: flickerAnimation 6s infinite;
  -moz-animation: flickerAnimation 6s infinite;
  -o-animation: flickerAnimation 6s infinite;
   animation: flickerAnimation 6s infinite;
}

@keyframes flickerAnimation {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

.flicker:nth-child(3n+4) {
  animation-delay: 3s;
}

.flicker:nth-child(2n+1) {
  animation-delay: 1s;
}

.flicker:nth-child(3n+3) {
  animation-delay: 2.4s;
}