/* --------------------------------- FOOTER --------------------------------- */
.footer-container {
  /* border: 2px solid magenta; */
  text-align: center;
  font-family: 'Space Mono', monospace;
  font-size: 0.75rem;
  padding: 0.4rem;
}

/* ------------------------------ RESUME ASSETS ----------------------------- */
.google:first-child {
  color: #5185EC !important;
}

.google:nth-child(2) {
  color: #D85140 !important;
}

.google:nth-child(3) {
  color: #F2BE42 !important;
}