/* --------------------------------- FOOTER --------------------------------- */
.footer-container {
    /* border: 2px solid magenta; */
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-size: 0.75rem;
    padding: 0.4rem;
  }
  
  .footer-container p {
      margin: 1rem auto 1.5rem!important;
  }

  .navigation-container {
    font-family: 'Roboto', sans-serif;
    height: min-content;
    width: 85%;

    max-width: 1024px;  /* this is the maximum width that all content on the site will reach */
    margin: 0 auto;
    border-radius: 0.4rem;
    position: sticky;
    top: 7px;
    z-index: 99;

    background: rgba(255, 255, 255, 0.37);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

/* ----------------------------- NAVIGATION BAR ----------------------------- */
.navigation-container ul {
    list-style-type: none;
    padding: 0 1rem;
}

.navigation-container li {
    display: inline-block;
    text-align: left;
    padding: 0;
    vertical-align: middle
}

.link {
    padding: 0 0.9rem 0 0;
    color: #1f1f1f;
    transition: 0.15s ease-in-out;
    text-decoration: none;
}

.home:hover {
    color: #DA4E3F;
}

.studio:hover {
    color: #E07B4A;
}

.contact:hover {
    color: #345D98;
}

.resume:hover {
    color: #3A7359;
}

.logo {
    float: right;
    padding: 0;
    margin: 0;
    user-select: none;
}

.logo img {
    width: 28px;
    height: 28px;
    padding: 0;
    margin: 0;
}

/* ------------------------------- PAGE LOADER ------------------------------ */
  /* Main Loader */
  .loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 6rem;
    height: 6rem;
    margin: auto;
  }
  
  .loader::before,
  .loader::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
  
  }
  
  /* Loader Blue Circle */
  .loader::before {
    background: #DA4E3F;
    animation: animate 2s ease-in-out infinite;
  }
  
  /* Loader Glassmorphism */
  .loader::after {
    background: rgba(56, 109, 241, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    animation: animate 2s ease-in-out infinite;
    z-index: 1;
    animation-delay: -1s;
  }
  
  /* Animation */
  @keyframes animate {
    0%,
    100% {
      transform: translateX(-40px);
    }
    50% {
      transform: translateX(40px);
    }
  }
  